/* Styles go here */
body {
    width: 100%;
    height: 100%;
    margin:  0px auto;
    padding: 0px auto;
    background-color:  #555;
}

#player{
    border:0px solid green;
    height:100%;
    width:100%;
    position:fixed;
}

